.product {
    .wrapper {
        display: flex;
        gap: 50px;
        padding: 2rem;

        .left {
            display: flex;
            flex: 1;

            .first {
                flex: 1;

                img {
                    height: 100px;
                    object-fit: cover;
                }
            }

            .second {
                flex: 4;
                height: 80vh;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
        }

        .right {
            flex: 1;
            display: flex;
            gap: 20px;
            flex-direction: column;

            h3 {
                color: #2b78fe;
            }

            p {
                color: gray;
            }

            .quantity {
                display: flex;
                align-items: center;
                gap: 10px;

                button {
                    padding: 10px 20px;
                    border: none;
                    font-size: 20px;
                    cursor: pointer;

                }
            }

            .addtocart {
                background-color: #2b78fe;
                padding: 10px 20px;
                border: none;
                font-size: 14px;
                cursor: pointer;
                color: white;
                width: 23%;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            .addTowishList{
                color:#2b78fe ;
                display: flex;
                align-items: center;
                gap: 10px;
                p{
                    color: inherit;
                }
            }
            .addTocompare{
                color:#2b78fe ;
                display: flex;
                align-items: center;
                gap: 10px;
                p{
                    color: inherit;
                }
            }
        }
    }
}